---
layout: default
---
{% assign path_parts = page.path | split: "/" %}
{% assign app_slug = path_parts[1] %}
{% capture app_name %}{% include app-name.html slug=app_slug %}{% endcapture %}
<h1>{{ app_name }}</h1>

{{ content }}

{% assign app_dir_prefix = "_docs/" | append: app_slug | append: "/" %}
{% assign app_docs = site.docs | where_exp: "d", "d.path contains app_dir_prefix" | where_exp: "d", "d.url != page.url" | sort: "title" %}
<ul class="doc-list">
  {% for doc in app_docs %}
  <li><a href="{{ doc.url | relative_url }}">{{ doc.title }}</a></li>
  {% endfor %}
</ul>

<p class="app-contact">Contact: <a href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a></p>
