---
layout: default
---
{% assign path_parts = page.path | split: "/" %}
{% assign app_slug = path_parts[1] %}
{% capture app_name %}{% include app-name.html slug=app_slug %}{% endcapture %}
{% assign app_dir_prefix = "_docs/" | append: app_slug | append: "/" %}
{% assign app_docs = site.docs | where_exp: "d", "d.path contains app_dir_prefix" | where_exp: "d", "d.url != page.url" | sort: "title" %}
<h1>{{ app_name }}</h1>

<article class="app-frame">
  <div class="app-frame__about">
    {{ content }}
  </div>

  <hr>

  <ul class="app-frame__links">
    {% for doc in app_docs %}
    <li><a href="{{ doc.url | relative_url }}">{{ doc.title }}</a></li>
    {% endfor %}
    <li><a href="mailto:{{ site.contact_email }}">Contact &middot; {{ site.contact_email }}</a></li>
  </ul>
</article>
