---
layout: default
---
<h1>{{ page.title }}</h1>

{{ content }}

{% assign apps = site.docs | where: "is_app_index", true | sort: "path" %}
<ul class="app-list">
  {% for app in apps %}
  {% assign app_path_parts = app.path | split: "/" %}
  {% assign app_slug = app_path_parts[1] %}
  <li class="app-list__item">
    <a class="app-list__name" href="{{ app.url | relative_url }}">{% include app-name.html slug=app_slug %}</a>
    {%- if app.platform and app.platform != "" %}
    <p class="app-list__sub">
      <span class="app-list__platform">{{ app.platform }}</span>
      {%- if app.app_url and app.app_url != "" %}
      <a class="app-list__link" href="{{ app.app_url }}">Open app</a>
      {%- endif %}
    </p>
    {%- endif %}
  </li>
  {% endfor %}
</ul>
